extends layout

block content
	#about.col-xs-12
		.panel.panel-info
			.panel-heading
				| Who are we?
			|                 
			.panel-body
				img.img-responsive.img-rounded(src='https://github.com/RiuSRoy/gallery/blob/master/uploads/logo.png?raw=true')
				|                   
				p We , the students of NIT Silchar have come up with this platform for all the photographers out there to showcase your talent in front of the world ! Sign up , upload photos and get reviews from other viewers !  
img(src='http://3.bp.blogspot.com/__qzX-0fL9Js/SjXkX6TcpDI/AAAAAAAARZY/DKLB0siVYyc/s400/wink1.jpg', width='9%', height='9%')
